In [1]:
import os
import pandas as pd

In [5]:

pd.set_option('display.max_columns', None)

# na_values='?' is used to replace '?' with NaN
data = pd.read_csv('CSVs-Data/dataset_lab3.csv', header=None, na_values='?')

data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [6]:
with open('CSVs-Data/feature_names_lab3.txt') as f:
    feature_names = f.read().splitlines()

data.columns = feature_names


data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [9]:
# Print toal number of values, min, max and standard deviation of normalized-losses
print('count', data['normalized-losses'].count())
print('mean', data['normalized-losses'].mean())
print('std', data['normalized-losses'].std())
print('min', data['normalized-losses'].min())
print('25%', data['normalized-losses'].quantile(0.25))
print('50%', data['normalized-losses'].quantile(0.50))
print('75%', data['normalized-losses'].quantile(0.75))
print('max', data['normalized-losses'].max())
print('Name:', data['normalized-losses'].name, 'dtype:', data['normalized-losses'].dtype)


data['normalized-losses'].describe()

count 164
mean 122.0
std 35.442167530553256
min 65.0
25% 94.0
50% 115.0
75% 150.0
max 256.0
Name: normalized-losses dtype: float64

count    164.000000
mean     122.000000
std       35.442168
min       65.000000
25%       94.000000
50%      115.000000
75%      150.000000
max      256.000000
Name: normalized-losses, dtype: float64

In [12]:
print(data['make'].unique())

print('##########')

print(data['make'].mode())

print('##########')

print(data['make'].value_counts())

['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']
##########
0    toyota
Name: make, dtype: object
##########
make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: count, dtype: int64

In [21]:
# Create dataframe row report of unormalized-losses feature
row_report = pd.DataFrame(columns=['Feature', 'Count', '%Miss', 'Card', 'Min', '1stQrt', 'Mean', 'Median', '3rdQrt', 'Max', 'Std. Dev'])


# Create a row for normalized-losses feature
row = {
    'Feature': 'normalized-losses',
    'Count': data['normalized-losses'].count(),
    '%Miss': data['normalized-losses'].isnull().mean(),
    'Card': data['normalized-losses'].nunique(),
    'Min': data['normalized-losses'].min(),
    '1stQrt': data['normalized-losses'].quantile(0.25),
    'Mean': data['normalized-losses'].mean(),
    'Median': data['normalized-losses'].median(),
    '3rdQrt': data['normalized-losses'].quantile(0.75),
    'Max': data['normalized-losses'].max(),
    'Std. Dev': data['normalized-losses'].std()
}

# Convert row to pandas series
row = pd.Series(row)

# loc is used to add a row at the end of the dataframe
row_report.loc[len(row_report.index)] = row

row_report

,Feature,Count,%Miss,Card,Min,1stQrt,Mean,Median,3rdQrt,Max,Std. Dev
0,normalized-losses,164,0.2,51,65.0,94.0,122.0,115.0,150.0,256.0,35.442168

In [22]:
# Create row report for all features

row_report = pd.DataFrame(columns=['Feature', 'Count', '%Miss', 'Card', 'Min', '1stQrt', 'Mean', 'Median', '3rdQrt', 'Max', 'Std. Dev'])

print(data.columns)

for feature in data.columns:

    # Check if feature is categorical
    if data[feature].dtype == 'object':
       continue
    else:
        row = {
            'Feature': feature,
            'Count': data[feature].count(),
            '%Miss': data[feature].isnull().mean(),
            'Card': data[feature].nunique(),
            'Min': data[feature].min(),
            '1stQrt': data[feature].quantile(0.25),
            'Mean': data[feature].mean(),
            'Median': data[feature].median(),
            '3rdQrt': data[feature].quantile(0.75),
            'Max': data[feature].max(),
            'Std. Dev': data[feature].std()
        }
    row = pd.Series(row)
    row_report.loc[len(row_report.index)] = row

row_report

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

,Feature,Count,%Miss,Card,Min,1stQrt,Mean,Median,3rdQrt,Max,Std. Dev
0,symboling,205,0.0,6,-2,0.0,0.834146,1.0,2.0,3,1.245307
1,normalized-losses,164,0.2,51,65.0,94.0,122.0,115.0,150.0,256.0,35.442168
2,wheel-base,205,0.0,53,86.6,94.5,98.756585,97.0,102.4,120.9,6.021776
3,length,205,0.0,75,141.1,166.3,174.049268,173.2,183.1,208.1,12.337289
4,width,205,0.0,44,60.3,64.1,65.907805,65.5,66.9,72.3,2.145204
5,height,205,0.0,49,47.8,52.0,53.724878,54.1,55.5,59.8,2.443522
6,curb-weight,205,0.0,171,1488,2145.0,2555.565854,2414.0,2935.0,4066,520.680204
7,engine-size,205,0.0,44,61,97.0,126.907317,120.0,141.0,326,41.642693
8,bore,201,0.019512,38,2.54,3.15,3.329751,3.31,3.59,3.94,0.273539
9,stroke,201,0.019512,36,2.07,3.11,3.255423,3.29,3.41,4.17,0.316717
10,compression-ratio,205,0.0,32,7.0,8.6,10.142537,9.0,9.4,23.0,3.97204
11,horsepower,203,0.009756,59,48.0,70.0,104.256158,95.0,116.0,288.0,39.714369
12,peak-rpm,203,0.009756,23,4150.0,4800.0,5125.369458,5200.0,5500.0,6600.0,479.33456
13,city-mpg,205,0.0,29,13,19.0,25.219512,24.0,30.0,49,6.542142
14,highway-mpg,205,0.0,30,16,25.0,30.75122,30.0,34.0,54,6.886443
15,price,201,0.019512,186,5118.0,7775.0,13207.129353,10295.0,16500.0,45400.0,7947.066342